*{
    box-sizing: border-box;
}
.flex-container{
    display: flex ;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    flex-basis: 100px;
    /* width: 100px; */
    height: 100px;
    background-color: bisque; 
    /* внутрнішній відступ */
    padding: 10px;
    margin: 10px;
    border: 2px solid darkmagenta;
    /* заукруглення */
    /* border-radius: 5px; */
    /* зовнішній відступ */
    /* margin: 10px; */
    /* значення задаються з 4 сторін починаючи від top right bottom left */
    /* padding: 16px 42px 16px 42px; */
    /* сейм  */
    /* padding: 16px 42px; */
}
/* 
.item:last-child{
    width: 20px;
    height: 22px;
}
.item:nth-child(3){
    width: 20px;
        height: 22px;
        border: 3px solid salmon;
} */
.item:last-child{
    /* flex-grow: 1; */
    flex-shrink: 0;
}