/* advantages section */
.advantages-section {
  padding: 16px 0;
  background-color: var(--colour-brand-normal);

  &__list {
    gap: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    font-size: 20px;
    font-weight: 300;
    color: var(--colour-primary-light);
  }
}
