/* traditiuns section */
.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-text.limited {
    max-width: 335px;
}

.traditions-content {
    max-width: 710px;
}

.traditions-section {
    padding-top: 96px;
    gap: 100px;
}

.traditions-title {
    margin-bottom: 42px;
}

.traditions-text .brand {
    color: var(--colour-brand-normal);
}

.traditions-text .uppercase {
    text-transform: uppercase;
    font-weight: 600;
}